
/* quickview */
.prd_list_item .txt .size_quickview .btn_quickview {float:right; margin-right:23px; padding-left:20px; background:url('/content/201807/images/temp/ico_quickview.png') no-repeat 0 center; color:#555; font-size:16px; line-height:28px;}
.quickview_layer {display:block;}
.quickview_layer .mask {position:fixed; top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,0.7); z-index:999;}
.quickview_layer .quickview_con {position:absolute; top:50px; left:50%; width:1400px; margin-left:-700px; padding:0 95px 0 87px; background:#fff; z-index:1000; box-sizing:border-box;}
.quickview_layer .quickview_con .btn_close {position:absolute; top:30px; right:25px;}


#container.detail .detail_top {padding-bottom:30px; margin-bottom:0; border-bottom:none;}
#container.detail .detail_top * {box-sizing:content-box;}
.detail_info_right {width:488px;}
.option_body_scroll {max-height:480px; margin-bottom:15px; overflow:auto;}
.detail_result {margin-bottom:0;}
.detail_total_price {margin-bottom:35px; font-size:20px; font-weight:bold; text-align:right;}
.detail_total_price > span {display:inline-block; width:170px; font-size:30px;}

.layer_wrap {z-index:1000;}
.layer_wrap * {box-sizing:content-box;}