@charset "utf-8";
/* CSS Document */

.login-wrap{position:relative; width:440px; height:450px; background:#fff; border:1px solid #000;}/* 로그인 팝업 */
.login-wrap h1{padding:19px 0 15px 17px; border-bottom:3px solid #cf112b; background:#24282b;}
.login-wrap .login-footer{width:100%; border-top:1px solid #dedede;}
.login-wrap .login-footer:after{content:""; display:block; clear:both; margin:0; padding:0; height:0; visibility:hidden;}
.login-wrap .login-footer ul{margin:23px 0 0 62px;}
.login-wrap .login-footer ul li{float:left;}
.login-wrap .login-footer ul li a{float:left; font-size:11px; font-weight:700; color:#999; padding:8px; background:url(../../images/login/bg_split_login_footer.gif) no-repeat left 8px;}
.login-wrap .login-footer ul li a:hover, .login-wrap .login-footer ul li a:active, .login-wrap .login-footer ul li a.on{color:#000;}

.search-wrap{position:relative; width:801px; background:#fff; border:1px solid #000;}/* 아이디, 비밀번호 찾기 팝업 */
.search-wrap h1{padding:19px 0 15px 17px; border-bottom:3px solid #cf112b; background:#24282b;}
.search-wrap .search-footer{width:100%;border-top:1px solid #dedede;}
.search-wrap .search-footer:after{content:""; display:block; clear:both; margin:0; padding:0; height:0; visibility:hidden;}
.search-wrap .search-footer ul{width:200px;margin:0 auto;}
.search-wrap .search-footer ul li{float:left;padding:15px 0;}
.search-wrap .search-footer ul li a{float:left; font-size:11px; font-weight:400; color:#999; padding:8px; background:url(../../images/login/bg_split_login_footer.gif) no-repeat left 8px;}
.search-wrap .search-footer ul li a:hover, .login-wrap .login-footer ul li a:active, .login-wrap .login-footer ul li a.on{color:#000;}
.search-wrap .btn-center{width:100%; text-align:center;}
.search-wrap .btn-center:after{content:""; display:block; clear:both; margin:0; padding:0; height:0; visibility:hidden;}
.search-wrap .btn-center a{display:inline-block; width:218px; height:43px; font-size:14px; font-weight:700; line-height:46px; color:#fff;}






.Guest-wrap{position:relative; width:440px; height:160px; background:#fff; border:1px solid #000;}/* 비회원 주문조회 팝업 */
.Guest-wrap h1{padding:19px 0 15px 17px; border-bottom:3px solid #cf112b; background:#24282b;}
.Guest-wrap .login-footer{width:100%; border-top:1px solid #dedede;}
.Guest-wrap .login-footer:after{content:""; display:block; clear:both; margin:0; padding:0; height:0; visibility:hidden;}
.Guest-wrap .login-footer ul{margin:23px 0 0 62px;}
.Guest-wrap .login-footer ul li{float:left;}
.Guest-wrap .login-footer ul li a{float:left; font-size:11px; font-weight:700; color:#999; padding:8px; background:url(../../images/login/bg_split_login_footer.gif) no-repeat left 8px;}
.Guest-wrap .login-footer ul li a:hover, .login-wrap .login-footer ul li a:active, .login-wrap .login-footer ul li a.on{color:#000;}







.search-wrap .info {margin:0 15px;}
.search-wrap .info .tab ul li {float:left;width:121px;height:35px;line-height:35px;color:#000;font-weight:bold;}
.search-wrap .info .tab ul li:hover {color:#cc0000;cursor:pointer;}
.search-wrap .info .tab ul .birth_act {float:left;width:121px;height:35px;line-height:35px;border-left:solid 1px #000;border-top:solid 1px #000;border-right:solid 1px #000;border-bottom:none;background-color:#f7f7f7;}
.search-wrap .info .tab ul .birth {border-left:solid 1px #ddd;border-top:solid 1px #ddd;border-bottom:solid 1px #000;background-color:#fff;}
.search-wrap .info .tab ul .hp_act {border-left:solid 1px #000;border-top:solid 1px #000;border-right:solid 1px #000;border-bottom:none;background-color:#f7f7f7;}
.search-wrap .info .tab ul .hp {border-left:solid 1px #ddd;border-top:solid 1px #ddd;border-right:solid 1px #ddd;border-bottom:solid 1px #000;background-color:#fff;}
.search-wrap .info .tab ul .email_act {border-left:solid 1px #000;border-top:solid 1px #000;border-right:solid 1px #000;border-bottom:none;background-color:#f7f7f7;}
.search-wrap .info .tab ul .email {border-top:solid 1px #ddd;border-right:solid 1px #ddd;border-bottom:solid 1px #000;background-color:#fff;}
.search-wrap .info .content {clear:both;font-weight:bold;color:#000;display:none;height:152px;border-bottom:solid 1px #000;}
.search-wrap .info .act {display:block;}
.search-wrap .info .content ul {margin-top:10px;}
.search-wrap .info .content ul li {float:left;height:25px;line-height:25px;text-align:left;margin:10px 0;}
.search-wrap .info .content ul .title {width:70px;margin-left:10px;}
.search-wrap .info .content ul .control {width:280px;}

.search-wrap .info .content ul li .name {width:200px;border:solid 1px #c5c5c5;height:22px;}
.search-wrap .info .content ul li .birth {width:60px;border:solid 1px #c5c5c5;height:22px;}
.search-wrap .info .content ul li .radio {width:30px;height:15px;}
.search-wrap .info .content ul li .hp {width:60px;height:22px;border:solid 1px #c5c5c5;}
.search-wrap .info .content ul li .email {width:80px;height:22px;border:solid 1px #c5c5c5;}
.search-wrap .info .result ul li {width:300px;font-weight:bold;font-size:12px;}
.search-wrap .info .result ul li h5 {width:300px;border-bottom:solid 1px #c5c5c5;font-size:12px;}
#resultFindId {color:#0000aa;}
.search-wrap .info .result .more {clear:both;border:solid 1px #000;width:100px;height:25px;line-height:25px;text-align:center;color:#fff;background-color:#000;cursor:pointer;font-size:12px;}

.search-wrap .repw {margin:0 15px;width:370px;}
.search-wrap .repw .find {display:block;}

.search-wrap .repw .find ul {}
.search-wrap .repw .find ul li {float:left;height:25px;line-height:25px;margin:10px 0;font-weight:bold;color:#000;}
.search-wrap .repw .find ul .title {width:65px;margin-right:10px;text-align:right;}
.search-wrap .repw .find ul .control {width:280px;text-align:left;}
.search-wrap .repw .find ul .btn {width:100%;height:50px;text-align:center;}
.search-wrap .repw .result {display:none;}
.search-wrap .repw .result ul li {float:left;height:30px;line-height:30px;margin:10px 0;font-weight:normal;color:#000;text-align:left;width:100%;}
.search-wrap .repw .result ul .btn {height:60px;text-align:center;} 
